<launch>
    <!-- Use xacro to generate URDF from Xacro file and set the robot_description parameter -->
    <arg default="$(find ruka_description)/urdf/gripper_bunka.xacro" name="model"/>
    <arg default="$(find ruka_description)/config/simple.rviz" name="rvizconfig"/>

    <arg name="gui" default="True"/>

    <param command="$(find xacro)/xacro $(arg model)" name="robot_description" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <!--<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>-->

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />-->


    <node args="-d $(arg rvizconfig)" name="rviz" pkg="rviz" required="true" type="rviz"/>
</launch>
